<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="7zipExecutableLocation" value="C:\Program Files\7-Zip\7z.exe"/>
    <add key="BookRepositoryLocation" value="D:\Temp\utorrent\novels"/>
    <add key="ConvertedWordDocumentLocation" value="D:\cb"/>
  </appSettings>
</configuration>